@import "../../../variables";

:host {
  width: 100%;

  img {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 100%;
  }


  .ng-lazyloaded {
    opacity: 1;
  }

  ::ng-deep {

    .ant-card {
      background: transparent;
    }

    .ant-card-actions {
      background: transparent;
      border-top: none;
    }

    .ant-card-body {
      background: #f0f2f5;
      opacity: 1;
      margin-top: -64px;
      position: relative;
    }


    .ant-card-cover {
      width: auto;
      height: 250px;
      position: relative;
      overflow: hidden;
    }
  }
}

.image-title-form {
  width: 260px;
}
