.gallery-page {
  .gallery-header {
    background: transparent;
  }

  .loading-button {
    &:before {
      background: transparent;
    }
  }

  .gallery-content {
    min-height: 100vh;
  }

  .img-list-container {
    max-width: 1280px;
    margin: 0 auto;
  }
}

.image-detail-drawer {
  width: 100% !important;
  max-width: 400px;
}


